extends layout

block content
	h1=title
	p Welcome to 35 Stanley Avenue Rent Portal #{title}
	p Monthly Expenses
	.container
		.row
			.span12
				form(name="expensesSheet", action='/', method="post")
					fieldset 
						.control-group
							label.col-md-3.control-label(ng-show='Tenants', for='1') Tenants
								select(name='tenants')
									each i in ["Srinu", "George", "Sam", "Vikram"]
										option(value=i) #{i}
						.control-group 
							label.control-label 
								.controls
									span.help-inline SelectDate  
									input.input-xlarge#datepicker(type='date', name='selectedDay')
									
						.control-group 
							label.control-label Select Tenant
								.controls
									table
										thead
											tr
												for day in ['Utility Type','Util']
													th= day
											tbody
												//for object in ['Gas', 'Electricity', 'HouseHold']
												tr
													td=	'Gas'
													td
														input(type='text', name='gas')
												tr
													td=	'Electricity'
													td
														input(type='text', name='electricity')
												tr
													td=	'HouseHold'
													td
														input(type='text', name='household')
					
						.control-group
							.controls
								input(type="submit", value="Submit")

	p=message								

							//- .control-group 
						//- 	label.control-label Select Tenant
						//- 		.controls
						//- 			input.input-xlarge#round(type='text', name='tenants', value='{{session_number}}')	

	//- label Choose:
	//- 	select(name='uni')
	//- 		each i in ["Salford", "B", "C"]
	//- 			option(value=i) University Of #{i}

	//- form(name="courses", method="post")
	//- 	div.input
	//- 		span.label Input
	//- 		input(type="text", name="title")		
	//- 	div.actions
	//- 	input(type="submit", value="courses")