extends layout

block content
  script(src='https://code.highcharts.com/modules/exporting.js')
  script(src='https://code.highcharts.com/highcharts.js')
  h1=title
  h3 Welcome to Tenant #{tenantName}

  p Monthly expenses for current year #{currentMonthSummary.year} and month #{currentMonthSummary.month}
  p This is what you have to pay so far #{currentMonthSummary.total}
  #yearlyCurTenant(style='max-width: 500px; height: 400px; margin: 0 left')
  #util(style='max-width: 500px; height: 400px; margin: 0 left')
  #container1(style='max-width: 500px; height: 400px; margin: 0 right')
  
  script.
     $(function () {
       $.get( "/total/2016/Srinu", function(data) {
       $('#yearlyCurTenant').highcharts({
           title: {
               text: 'Your yearly rent summary',
               x: -20 //center
           },
           subtitle: {
               text: 'Source: RentPortal.herokuapp.com',
               x: -20
           },
           xAxis: {
               categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                   'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
           },
           yAxis: {
               title: {
                   text: 'Amount (GBP)'
               },
               plotLines: [{
                   value: 0,
                   width: 1,
                   color: '#808080'
               }]
           },
           tooltip: {
               valueSuffix: 'GBP'
           },
           legend: {
               layout: 'vertical',
               align: 'right',
               verticalAlign: 'middle',
               borderWidth: 0
           },
           series: data
       });
       });

       $.get( "/util/total/2016", function(data) {
       $('#util').highcharts({
       title: {
           text: 'Yearly util Summary',
           x: -20 //center
       },
       subtitle: {
           text: 'Source: RentPortal.herokuapp.com',
           x: -20
       },
       xAxis: {
           categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
               'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
       },
       yAxis: {
           title: {
               text: 'Amount (GBP)'
           },
           plotLines: [{
               value: 0,
               width: 1,
               color: '#808080'
           }]
       },
       tooltip: {
           valueSuffix: 'GBP'
       },
       legend: {
           layout: 'vertical',
           align: 'right',
           verticalAlign: 'middle',
           borderWidth: 0
       },
       series: data
       });
       });
     });    
  
