extends layout

block content
	script(src='https://code.highcharts.com/modules/exporting.js')
	script(src='https://code.highcharts.com/highcharts.js')
	script(src='/javascripts/renderCharts.js')
	h1=title
	p Welcome #{user} to 35 Stanley Avenue Rent Portal 
	a(href='/logout') logout
	p Monthly expenses for current year #{currentMonthSummary.year} and month #{currentMonthSummary.month}
	p This is what you have to pay so far #{currentMonthSummary.total}

	#yearlyCurTenant(style='max-width: 500px; height: 400px; margin: 0 left')
	#util(style='max-width: 500px; height: 400px; margin: 0 left')

	p Submit Monthly Expenses
	.container
		.row
			.span12
				form(name="expensesSheet", action='/profile/update_expenses_sheets', method="post")
					fieldset 
						.control-group
							input(type='hidden', name='user', value='#{user}')
						.control-group 
							label.control-label 
								.controls
									label.help-inline SelectDate  
									input.input-xlarge#datepicker(type='date', name='selectedDay')
									
						.control-group 
							.controls
								table
									thead
										tr
											for day in ['Utility Type','Util']
												th= day
										tbody
											//for object in ['Gas', 'Electricity', 'HouseHold']
											tr
												td=	'Gas'
												td
													input(type='text', name='gas')
											tr
												td=	'Electricity'
												td
													input(type='text', name='electricity')
											tr
												td=	'HouseHold'
												td
													input(type='text', name='household')
				
						.control-group
							.controls
								input(type="submit", value="Submit")
								label.error-label
									for error in errors
										p * #{error}
								p=message								

							//- .control-group 
						//- 	label.control-label Select Tenant
						//- 		.controls
						//- 			input.input-xlarge#round(type='text', name='tenants', value='{{session_number}}')	